<div id="mastHeadContainer">
    <button style="padding: 0px 0px">
        <img class="searchImg" src="assets/images/Menu.png">
    </button>

    <a class="logoContainer" routerLink="Home">
        <img class="searchImg" src="assets/images/logo.png" title="logo" alt="Site logo">
    </a>

    <div class="searchBarContainer">
        <form action="search.php" method="GET">
            <input type="text" class="searchBar" name="term" placeholder="Search...">
            <button style="padding: 0px 0px" class="searchButton">
                <img  class="searchImg" src="assets/images/Search.png">
            </button>
        </form>
    </div>

    <!-- <div class="rightIcons">
        <a href="upload.php">
            <img class="upload" src="assets/images/icons/upload.png">
        </a>
        <a href="#">
            <img class="upload" src="assets/images/profilePictures/default.png">
        </a>
    </div> -->

</div>