<div *ngIf="!createNew">
    <button class="btn bg-info" (click)="startCreateNew()">Create New Falsehood</button>
    <button class="btn bg-info" (click)="startSearch()">Search Falsehoods</button>
    <button class="btn bg-info" (click)="startSubmittedSearch()">Submitted Falsehoods</button><br>
    <div *ngIf="doSearch">
        <label>Search Falsehood</label><br>
        <label>By Date?</label>

        <!-- Handle Dates-->
        <input type="radio" name="ByDate" (click)="setDateSearchMode(0)" id="noDates" clicked><label for="noDates">No Dates</label>
        <input type="radio" name="ByDate" (click)="setDateSearchMode(1)" id="beforeDates" clicked><label for="beforeDates">Before Date</label>
        <input type="radio" name="ByDate" (click)="setDateSearchMode(2)" id="betweenDates" clicked><label for="betweenDates">Between Dates</label>
        <br>
        <div *ngIf="dateSearchMode > 0">
            <label>Latest Date</label>
            <input type="date" [(ngModel)]="search.to">
            <br>
        </div>
        <div *ngIf="dateSearchMode > 1">
            <label>Earliest Date</label>
            <input type="date" [(ngModel)]="search.from">
            <br>
        </div>

        <!-- Handle Severity-->
        <label>Minimum Severity</label>
        <select [(ngModel)]="search.minimum">
            <option value="null">[Not Selected]</option>
            <option value="LIE">Lie</option>
            <option value="OBJECTOVE_FALSEHOOD">Objective Falsehood</option>
            <option value="MISLEADING">Omitted Information</option>
            <option value="HYPOCRISY">Hypocracy</option>
            <option value="SUBJECTIVE_FALSEHOOD">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
        </select>
        <br>
        <label>Maximum Severity</label>
        <select [(ngModel)]="search.maximum">
            <option value="null">[Not Selected]</option>
            <option value="LIE">Lie</option>
            <option value="OBJECTOVE_FALSEHOOD">Objective Falsehood</option>
            <option value="MISLEADING">Omitted Information</option>
            <option value="HYPOCRISY">Hypocracy</option>
            <option value="SUBJECTIVE_FALSEHOOD">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
        </select>
        <br>



        <!--Public Official-->
        <br>
        <label>By Author (public Official)</label>
        <input type="search" (change)="onSearchAuthor($event)" [(ngModel)]="searchAuthor" placeholder="Search Author (public Figure)">

        <ul *ngFor="let author of authorList">
          <li (click)="setAuthor(author)">Public Figure: {{author.firstname}} {{author.middleNames}} {{author.lastName}}</li>
        </ul>

        <div *ngIf="search.official">
            <h6>Selected Author: {{search.official.firstname}} {{search.official.middleNames}} {{search.official.lastName}}</h6>
            <button class="btn bg-info" (click)="setAuthor(undefined)">Clear Official</button>
        </div>
        <div *ngIf="!search.official">
            <h6>No Author Selected!</h6>
        </div>
        <br>
        <label>Page Number</label>
        <input type="number" min="0" [(ngModel)]="search.page"> <br>
        <label>Page Size</label>
        <input type="number" min="1" [(ngModel)]="search.numberOfEntries"> <br>
        <button class="btn bg-info" (click)="submitSearch()">Submit Search</button>
    </div>

    <div *ngIf="doSubmitted">
        <label>Page Number</label>
        <input type="number" class="form-control" min="0" [(ngModel)]="submittedPage"><br>
        <label>Page Size</label>
        <input type="number" class="form-control" min=10 max=100 [(ngModel)]="submitSize"><br>
        <button class="btn bg-info" (click)="getSubmittedFalsehoods()">Search Submitted</button>
    </div>



    <table *ngIf="publicFalsehoods.length > 0">
        <tr>
            <th>Status</th>
            <th>Severity</th>
            <th>Figure Type</th>
            <th>Public Figure</th>
            <th>Institution</th>
            <th>Region</th>
            <th>Date Made</th>
    
        </tr>
        <tr *ngFor="let falsehood of publicFalsehoods" (click)="selectPublicFalsehood(falsehood)">
            <td>{{falsehood.status}}</td>
            <td>{{falsehood.severity}}</td>
            <td>{{falsehood.officialType}}</td>
            <td>{{falsehood.official?.firstname}} {{falsehood.official?.middleNames}} {{falsehood.official?.lastName}}</td>
            <td>{{falsehood.institution?.name}}</td>
            <td>{{falsehood.region?.name}}</td>
            <td>{{falsehood.dateMade}}</td>
        </tr>
    </table>

    <div *ngIf="publicFalsehoodEntry?.metadata">
        <table class="table table-hover">
            <tr>
                <th>Fields</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>{{publicFalsehoodEntry?.metadata?.id}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{publicFalsehoodEntry?.metadata?.status}}</td>
            </tr>
            <tr>
                <td>Severity</td>
                <td>{{publicFalsehoodEntry?.metadata?.severity}}</td>
            </tr>
            <tr>
                <td>Public Official</td>
                <td>{{publicFalsehoodEntry?.metadata?.official?.firstname}} {{publicFalsehoodEntry?.metadata?.official?.lastName}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{publicFalsehoodEntry?.metadata?.dateMade}}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{publicFalsehoodEntry?.metadata?.region?.name}}</td>
            </tr>
            <tr>
                <td>Institution</td>
                <td>{{publicFalsehoodEntry?.metadata?.institution?.name}}</td>
            </tr>
        </table>

        <div *ngIf="(publicFalsehoodEntry?.metadata?.status == 0 || publicFalsehoodEntry?.metadata?.status == 2) && tokenService.user.credibility > 60">
            <label>Reason for Approving or Rejecting</label>

            <markdown-toolbar for="review_public_falsehood">
                <md-bold>
                    <button class="btn btn-md" >
                        <svg class="svg-md bi bi-type-bold" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
                        </svg>
                    </button>
                </md-bold>
                <md-header>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-type-h3" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.637 13V3.669H6.379V7.62H1.758V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.625-4.272h1.018c1.142 0 1.935.67 1.949 1.674.013 1.005-.78 1.737-2.01 1.73-1.08-.007-1.853-.588-1.935-1.32H9.108c.069 1.327 1.224 2.386 3.083 2.386 1.935 0 3.343-1.155 3.309-2.789-.027-1.51-1.251-2.16-2.037-2.249v-.068c.704-.123 1.764-.91 1.723-2.229-.035-1.353-1.176-2.4-2.954-2.385-1.873.006-2.857 1.162-2.898 2.358h1.196c.062-.69.711-1.299 1.696-1.299.998 0 1.695.622 1.695 1.525.007.922-.718 1.592-1.695 1.592h-.964v1.074z" />
                        </svg>
                    </button>
                </md-header>
                <md-italic>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-type-italic" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.991 11.674L9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
                        </svg>
                    </button>
                </md-italic>
                <md-quote>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-blockquote-left" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        <path d="M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z" />
                        </svg>
                    </button>
                </md-quote>
                <md-code>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-code-square" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path fill-rule="evenodd" d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </button>
                </md-code>
                <md-unordered-list>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-list-ul" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                    </button>
                </md-unordered-list>
                <md-mention>
                    <button class="btn btn-md"  align-items="center">@</button>
                </md-mention>
                <md-ref>
                    <button class="btn btn-md">
                        <svg class="svg-md bi bi-tag" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z" />
                            <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg>
                    </button>
                </md-ref>
            </markdown-toolbar>
            <textarea id="review_public_falsehood" [(ngModel)]="submitReason"></textarea> 

            <button class="btn bg-info" (click)="Approve('Approve')">Approve Falsehood</button><br>
            <button class="btn bg-info" (click)="Approve('Reject')"> Reject Falsehood</button><br>
            <button class="btn bg-info" (click)="Approve('Penalize')">Penalize Falsehood</button><br>
        </div>
        <br>

        <div id="content1" [innerHTML]="publicFalsehoodEntry?.contents | marked"></div>

        <table class="table table-hover" *ngIf="publicFalsehoodEntry?.records?.records">
            <tr>
                <th>Record</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let record of publicFalsehoodEntry?.records?.records">
                <td>{{record.details}}</td>
                <td>{{record.made}}</td>
                <td>{{record.specifics}}</td>
            </tr>
        </table>
    </div>

</div>

<div *ngIf="createNew" class="container form form-group">

    <!--By Severity-->
    <label>Severity</label>
    <select class="form-control" [(ngModel)]="newFalsehood.metadata.severity">
        <option value="1">Objective Falsehood</option>
        <option value="2">Omitted Information</option>
        <option value="4">Subjective Falsehood</option>
        <option value="5">Something</option>
    </select>
    <br>
    <!--Public Figures -->
    <label>Public Figure</label>
    <input class="form-control" type="search" (change)="onSearchAuthor($event)" [(ngModel)]="searchAuthor" placeholder="Search Author (public Figure)">

        <ul *ngFor="let author of authorList">
          <li (click)="setNewAuthor(author)">Public Figure: {{author.firstname}} {{author.middleNames}} {{author.lastName}}</li>
        </ul>

        <div *ngIf="newFalsehood.metadata.official">
            <h6>Selected Author: {{newFalsehood.metadata.official.firstname}} {{newFalsehood.metadata.official.middleNames}} {{newFalsehood.metadata.official.lastName}}</h6>
            <button class="btn bg-info" (click)="setNewAuthor(undefined)">Clear Author</button>
        </div>
        <div *ngIf="!newFalsehood.metadata.official">
            <h6>No Author Selected!</h6>
        </div>
    <br>

    <!--Figure Type-->
    <label>Public Figure Type</label>
    <select class="form-control" [(ngModel)]="newFalsehood.metadata.officialType">
        <option value="0">Politician</option>
        <option value="1">Law Enforcement</option>
        <option value="2">Intelligence</option>
        <option value="3">Military</option>
        <option value="4">Public Health</option>
        <option value="5">Economist</option>
        <option value="6">Environmentalist</option>
        <option value="7">Corporate Executive</option>
        <option value="15">Other</option>
    </select>

    <br>
    <label>Date Made</label>
    <input class="form-control" type="date" [(ngModel)]="newFalsehood.metadata.dateMade">

    <markdown-toolbar for="new_public_falsehood">
        <md-bold>
            <button class="btn btn-md" >
                <svg class="svg-md bi bi-type-bold" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
                </svg>
            </button>
        </md-bold>
        <md-header>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-type-h3" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.637 13V3.669H6.379V7.62H1.758V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.625-4.272h1.018c1.142 0 1.935.67 1.949 1.674.013 1.005-.78 1.737-2.01 1.73-1.08-.007-1.853-.588-1.935-1.32H9.108c.069 1.327 1.224 2.386 3.083 2.386 1.935 0 3.343-1.155 3.309-2.789-.027-1.51-1.251-2.16-2.037-2.249v-.068c.704-.123 1.764-.91 1.723-2.229-.035-1.353-1.176-2.4-2.954-2.385-1.873.006-2.857 1.162-2.898 2.358h1.196c.062-.69.711-1.299 1.696-1.299.998 0 1.695.622 1.695 1.525.007.922-.718 1.592-1.695 1.592h-.964v1.074z" />
                </svg>
            </button>
        </md-header>
        <md-italic>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-type-italic" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.991 11.674L9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
                </svg>
            </button>
        </md-italic>
        <md-quote>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-blockquote-left" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                <path d="M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z" />
                </svg>
            </button>
        </md-quote>
        <md-code>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-code-square" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd" d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z" />
                </svg>
            </button>
        </md-code>
        <md-link>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-link-45deg" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
                </svg>
            </button>
        </md-link>
        <md-image>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-card-image" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9c0 .013 0 .027.002.04V12l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15 9.499V3.5a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm4.502 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </button>
        </md-image>
        <md-unordered-list>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-list-ul" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
            </button>
        </md-unordered-list>
        <md-ordered-list>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-list-ol" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                    <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z" />
                </svg>
            </button>
        </md-ordered-list>
        <md-task-list>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-list-check" xmlns="http://www.w3.org/2000/svg">
                    <path  fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                </svg>
            </button>
        </md-task-list>
        <md-mention>
            <button class="btn btn-md"  align-items="center">@</button>
        </md-mention>
        <md-ref>
            <button class="btn btn-md">
                <svg class="svg-md bi bi-tag" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z" />
                    <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                </svg>
            </button>
        </md-ref>
      </markdown-toolbar>
    <textarea id="new_public_falsehood" class="form-control" [(ngModel)]="newFalsehood.contents"></textarea>
  
  
    <div [innerHTML]="newFalsehood.contents | marked"></div>
    <br>

    <label>Tags (Seperate Terms by line), max character limit is 400</label>
    <textarea [(ngModel)]="newFalsehood.metadata.tags" (input)="inspectTagsField()"></textarea>
    <br>
  
    <h5 #pfTagWarming hidden>Tag field is {{newFalsehood.metadata.tags.length - 400}} over the character limit!</h5>
    <button #pfNewSubmit class="btn bg-info" (click)="submitNewFalsehod()">Submit</button>
    <button class="btn bg-info" (click)="stopCreateNew()">Cancel</button>

</div>