
<div *ngIf="searchMode">

    <form *ngIf="usingNameSearch">
        <div class="form-group">
            <label for="searchField">Subject Name</label>
            <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" id="searchField" [(ngModel)]="searchName">
        </div>
        <div class="form-group">
            <input type="checkbox" [ngModelOptions]="{standalone: true}" class="form-check-input" id="seekAll1" [(ngModel)]="searchAll">
            <label for="seekAll1">Seek all</label>
        </div>
        <button class="btn btn-submit" (click)="searchByName()">Submit Search</button>
        <button class="btn btn-info" (click)="toggleSearchMode()">Toggle Search Mode</button>
        
    </form>

    <form *ngIf="!usingNameSearch">
        <div class="form-group">
            <label for="pageField">Search Page</label>
            <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="pageField" [(ngModel)]="page">
        </div>
        <div class="form-group">
                <label for="sizeField">Search Size</label>
                <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="sizeField" [(ngModel)]="size">
        </div>
        <div class="form-group">
            <input type="checkbox" [ngModelOptions]="{standalone: true}" class="form-check-input" id="seekAll2" [(ngModel)]="searchAll">
            <label for="seekAll2">Seek all</label>
        </div>
        <button class="btn btn-submit" (click)="searchByAll()">Submit Search</button>
        <button class="btn btn-info" (click)="toggleSearchMode()">Toggle Search Mode</button>
    </form>
    <hr>

    <ul *ngIf="brands">
        <li *ngFor="let curBrand of brands"><button class="btn btn-info" (click)="seekBrand(curBrand.id)">{{curBrand.reviewStage}} {{curBrand.name}}</button></li>
    </ul>

</div>

<div *ngIf="!searchMode">
    <button class="btn btn-info" (click)="revertToSearch()">Return to Search</button>

    <h2 *ngIf="mainBrand?.brandInfo">{{mainBrand.brandInfo.name}}</h2>


    <table style="width: 22em;">
        <tr *ngIf="mainBrand?.metadata?.profileBase64">
            <img alt="No Image Available" src="{{mainBrand.metadata.profileBase64}}">
        </tr>
        <tr *ngIf="mainBrand?.metadata?.profileDesc">
            <input type="text" readonly=true [(ngModel)]="mainBrand.metadata.profileDesc">
        </tr>
    </table>

    <table *ngIf="mainBrand?.metadata?.metadata">
        <tr *ngFor="let key of mainBrand.metadata.metadata | ObjNgFor">
            <td>{{key}}</td>
            <td>{{mainBrand.metadata.metadata[key]}}</td>
        </tr>

    </table>
    <label>Subject Type</label>
    <input type="text" class="form-control" [(ngModel)]="subjectType" readonly>

    <div [innerHTML]="mainBrand?.contents | markdown"></div>
</div>