<div class="flex-and-center top-bar" [style.background-color]="userService.topBarColor">
    <div class="top-bar-left">
        <div class="comp-logo" (click)="navToHome()">
            <img src="assets/Logos/Coffee-Shop-Logo.png" alt="TrecApps Social Media Logo">
        </div>
        <div class="search-wrap">
            <div class="flex-and-center search-div" style="width: 100%; background-color: white;">
                <input type="text" name="main-search" id="main-search" class="search-input" [(ngModel)]="searchTerm" (input)="onSearchChange()">



                <div class="s-icon top-icon flex-and-center">
                    <img src="assets/icons/b-search.png" alt="Search img">
                </div>
            </div>

            <div class="option-holder extender" *ngIf="profileSuggestions.length">
                <div *ngFor ="let prof of profileSuggestions" class="search-option" (click)="selectProfile(prof.id)">
                    <div class="search-img-holder">
                        <img [src]="(prof.id.startsWith('User')) ? (profilePicBase + prof.id.substring(5)) : (profilePicBaseBrand + prof.id.substring(6))">
                    </div>
                    <div class="search-name-holder" >
                        <p class="search-name">{{ prof.name }}</p>
                    </div>
                </div>
                <div style="border-top: solid 2px black; height: 50px;" class="search-name-more-opt">
                    <p><b style="color: darkblue;">More Options</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar-right">

        <div class="top-bar-not-holder" (mouseenter)="onHoverFriends(true)" (mouseleave)="onHoverFriends(false)" (click)="toggleConnectionNotes()">
            <img [src]="curFriends">
            <div class="not-counter-holder" *ngIf="connectionNotificationCounter">
                <p>{{ connectionNotificationCounter }}</p>
            </div>
        </div>
        <div class="top-bar-not-holder" (mouseenter)="onHoverMessage(true)" (mouseleave)="onHoverMessage(false)" (click)="toggleMessageNotes()">
            <img [src]="curMessage">
            <div class="not-counter-holder" *ngIf="messageNotificationCounter">
                <p>{{ messageNotificationCounter }}</p>
            </div>
        </div>
        <div class="top-bar-not-holder" (mouseenter)="onHoverBell(true)" (mouseleave)="onHoverBell(false)" (click)="toggleRegularNotes()">
            <img [src]="curBell">
            <div class="not-counter-holder" *ngIf="regularNotificationCounter">
                <p>{{ regularNotificationCounter }}</p>
            </div>
        </div>

        <div class="extender" *ngIf="showConnectionNotes">
            <div class="core-option-holder" *ngFor="let n of connectionNotifications">
                <div class="note-image-holder" (click)="handleNotification(n)">
                    <img [src]="getNotificationImage(n)">
                </div>
                <div class="notification-details" (click)="handleNotification(n)">
                    <p [style]="getStyle(n.status)">{{ n.post.message }}</p>
                    <p>{{ n.post.time | date:'MMM d, y - h:mm:ss a' }}</p>
                </div>
                <div class="red-button-container">
                    <button (click)="removeNotificationConnection(n)"><img src="assets/icons/X-image.png" alt="exit button"></button>
                </div>
            </div>
        </div>

        <div class="extender" *ngIf="showMessageNotes">
            <div class="core-option-holder" *ngFor="let n of messageNotifications">
                <div class="note-image-holder" (click)="handleNotification(n)">
                    <img [src]="getNotificationImage(n)">
                </div>
                <div class="notification-details" (click)="handleNotification(n)">
                    <p [style]="getStyle(n.status)">{{ n.post.message }}</p>
                    <p>{{ n.post.time | date:'MMM d, y - h:mm:ss a' }}</p>
                </div>
                <div class="red-button-container">
                    <button (click)="removeNotificationMessage(n)"><img src="assets/icons/X-image.png" alt="exit button"></button>
                </div>
            </div>
        </div>

        <div class="extender" *ngIf="showRegularNotes">
            <div class="core-option-holder" *ngFor="let n of regularNotifications">
                <div class="note-image-holder" (click)="handleNotification(n)">
                    <img [src]="getNotificationImage(n)">
                </div>
                <div class="notification-details" (click)="handleNotification(n)">
                    <p [style]="getStyle(n.status)">{{ n.post.message }}</p>
                    <p>{{ n.post.time | date:'MMM d, y - h:mm:ss a' }}</p>
                </div>
                <div class="red-button-container">
                    <button (click)="removeNotificationRegular(n)"><img src="assets/icons/X-image.png" alt="exit button"></button>
                </div>
            </div>
        </div>

        <div style="width:10px"></div>

        <div class="profile-bar-holder">
            <div class="profile-bar-img-holder">
                <img (click)="navToProfile()" [src]="userService.profilePic" (error)="userService.onProfileNotAvailable()">
            </div>
            <div class="profile-bar-details-holder">
                <div class="profile-bar-name-holder">
                    <p><a (click)="navToProfile()">{{ userService.getCurrentDisplayName() || 'unknown' }}</a></p>
                </div>
                

                <div class="profile-bar-dropdown-button" (click)="toggleMenuExtension()">
                    <img [@rotate]="menuExtended ? 'expanded' : 'collapse'"  src="assets/icons/Less_than.png">
                </div>

                <div [@translate]="menuExtended ? 'expanded': 'collapse'" class="extender" style="z-index: 10;">
                    <div class="core-option-holder">
                        <a><p>Manage Account</p></a>
                    </div>
                    <div class="core-option-holder" (click)="onLogout()">
                        <p>Logout</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>