<div class="flex-and-center top-bar" [style.background-color]="userService.topBarColor">
    <div class="top-bar-left">
        <div class="comp-logo">
            <img src="assets/Logos/Friendr-Logo.png" alt="TrecApps Social Media Logo">
        </div>
        <div class="search-wrap">
            <div class="flex-and-center" style="width: 100%;">
                <input type="text" name="main-search" id="main-search">
                <div class="s-icon top-icon top-css flex-and-center"></div>
            </div>
        </div>
    </div>
</div>