<div class="container">
    <div id="messageJumbo" class="jumbotron">TrecAccount Login</div>
    
    <div width="100%" class="form" >
        <h4 *ngIf="loginFail" color="red">Failed To Login</h4>

        <label>Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="login.username"> <br>
        <label>Password:</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="login.password"><br>

        <input type="submit" class="btn btn-submit" value="Submit" (click)="logon()">
        <button class="btn btn-submit" (click)="moveToCreate()">Create New Trec-Account</button>
    </div>
</div>