<h1>Existing Subscriptions</h1>
<button class="btn btn-submit" (click)="refreshSubList()">Get Subscription List</button>

<ul class="ul-gallery">
    <li class="li-gallery" *ngFor="let sub of subList">
        <div class="form" *ngIf="sub.name">
            <label>Name</label>
            <input type="text" class="form-item" readonly [(ngModel)]="sub.name"><br>
            <label>Description</label>
            <input type="text" class="form-item" readonly [(ngModel)]="sub.desc"><br>
            <label>Default Price (overriden in Subscription Level Fields)</label>
            <input type="number" min="0" max="20.00" readonly [defaultValue]="1.00" [(ngModel)]="sub.defaultPrice"><br>
        
            <ul>
                <li *ngFor="let lev of sub.levels">
                    <label>Name</label>
                    <input type="text" class="form-item" readonly [(ngModel)]="lev.name"><br>
                    <label>Description</label>
                    <input type="text" class="form-item" readonly [(ngModel)]="lev.desc"><br>
                    <label>Level Price (overrides Default Price if User has selected it)</label>
                    <input type="number" min="0" max="20.00" readonly [defaultValue]="1.00" [(ngModel)]="lev.price"><br>
                </li>
            </ul>
        
            <button *ngIf="!sub.levels.length && !notIncluded(sub.name)" class="btn btn-submit" (click)="addBasicList(sub.name)">Submit New Subscription</button>
        </div>

    </li>
</ul>

<h2>Your Subscriptions</h2>
<ul class="ul-gallery" *ngIf="userList">
    <li class="li-gallery" *ngFor="let sub of userList.subscriptionList">
        <label>Name: {{sub.subscription}}, Level: {{sub.subscription}}</label>
        <button class="btn-submit" (click)="removeSub(sub.subscription)">Remove</button>
    </li>
</ul>

<button *ngIf="userList && subListChanged" class="btn btn-submit" (click)="updateSub()">Update Subscriptions</button>
<button class="btn btn-info" (click)="routeToUserManagement()">Back To User Management</button>