
<div #fullMessagePane class="message-pane" [style]="maxSizeStyle">
    <div #topMessagePane class="message-top">
        <div class="message-top-profile-section">
            <div class="message-top-profile-holder">
                <img [src]="profile">
            </div>
        </div>
        <div class="message-names-holder">
            <span>{{ conversationEntry.participants[0].displayName }}</span>
            <span *ngFor="let p of conversationEntry.participants.slice(1)">, {{ p.displayName }}</span>
        </div>
        <div class="red-button-container" [@xHover]="xButtonHover ? 'hover' : 'leave'" (mouseenter)="setHover(true)" (mouseleave)="setHover(false)">
                    
            <button (click)="closeMessage()"><img src="assets/icons/X-image.png" alt="exit button"></button>
        </div>
    </div>

    <div #mainMessagePane class="message-pane-body" [style]="paneHeight" (scroll)="handleScroll($event)">
        <div class="message-pane-entry flex-and-center">
            <p *ngIf="page == 0 && pageEarly == 0">End of Messages</p>
            <p *ngIf="page || pageEarly" (click)="retrieveMessages()">{{loading ? 'Loading...' : 'Load Older Messages'}}</p>
        </div>
        <div class="message-pane-entry" *ngFor="let message of messages">
            <div class="message-pane-profile-section">
                <div class="message-pane-profile-holder">
                    <img [src]="message.profile.startsWith('User-') ? (imageBaseUrl + 'Profile/of/' + message.profile.substring(5) + '?app=' + appName) :
                     (imageBaseUrl + 'Profile/byBrand/' + message.profile.substring(6) + '?app=' + appName)">
                </div>
            </div>

            <div class="message-pane-content-holder">
                <div class="message-pane-content-name">
                    <span>{{ getDisplayName(message.profile) }}</span>
                    <span> {{ message.timeMade |  date:'MMM d, y - h:mm:ss a'}} </span>
                </div>
                <div class="messaging-pane-content">
                    <span>{{ message.contents.at(message.contents.length - 1) }}</span>
                </div>
            </div>

        </div>


    </div>

    <div #bottomMessagePane style="position: relative;">
        <button class="scroll-down-button" [class.scroll-down-button-active]="doScrollDown" (click)="setScrollDown(true)">
            <img src="assets/icons/Less_than.png">
        </button>
        <div class="message-new-message-holder">
            <textarea placeholder="Write a message..." class="message-new-message" [(ngModel)]="inputMessage"></textarea>
        </div>
        <div class="message-new-message-options">
            <div style="flex-grow: 1;"></div>
            <button class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
    </div>

</div>