<form *ngIf="isSearching && byTags">
    <h3>Tag Search</h3>
    <div class="form-group">
        <label for="tagSearchField2">Subject Name</label>
        <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" id="tagSearchField2" [(ngModel)]="searchTag">
    </div>
    <div class="form-group">
        <label for="pageField3">Search Page</label>
        <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="pageField3" [(ngModel)]="usePage">
    </div>
    <div class="form-group">
            <label for="sizeField3">Search Size</label>
            <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="sizeField3" [(ngModel)]="useSize">
    </div>
    <div class="form-group">
        <input type="checkbox" [ngModelOptions]="{standalone: true}" class="form-check-input" id="useCommonFs" [(ngModel)]="useCommonTags">
        <label for="useCommonFs">Use Common Tags (uncheck for Uncommon Tags)</label>
    </div>
    <button class="btn btn-submit" (click)="searchByTags()">Submit Tag Search</button>
    <button class="btn btn-info" (click)="setSearchByFields()">Search By Fields</button>
    <button class="btn btn-info" (click)="prepNewFalsehood()" *ngIf="authService.hasAuthority(5)">Create New</button>
</form>

<form *ngIf="isSearching && !byTags && mainFalsehood">
    <div class="border form-group">
        <label>By Public Figure</label>
        <button class="btn btn-info" (click)="setSearchByBrandType('PUBLIC_FIGURE', 'Public Figures')">Select Figure</button>
        <label *ngIf="mainFalsehood.figure">{{mainFalsehood.figure.name}}</label>
    </div>
    <div class="border form-group">
        <label>By Media Outlet</label>
        <button class="btn btn-info" (click)="setSearchByBrandType('MEDIA_OUTLET', 'Media Outlets')">Select Outlet</button>
        <label *ngIf="mainFalsehood.outlet">{{mainFalsehood.outlet.name}}</label>
    </div>
    <div class="border form-group">
        <label>By Institution</label>
        <button class="btn btn-info" (click)="setSearchByBrandType('INSTITUTION', 'Institutions')">Select Institution</button>
        <label *ngIf="mainFalsehood.institution">{{mainFalsehood.institution.name}}</label>
    </div>
    <div class="border form-group">
        <label>By Region</label>
        <button class="btn btn-info" (click)="setSearchByBrandType('REGION', 'Regions')">Select Region</button>
        <label *ngIf="mainFalsehood.region">{{mainFalsehood.region.name}}</label>
    </div>
    <div class="border form-group">
        <label>By Factcheck</label>
        <button class="btn btn-info" (click)="setSearchByBrandType('FACT-CHECK', 'Fact Checks')">Select Factcheck</button>
        <label *ngIf="mainFalsehood.factCheck">{{mainFalsehood.factCheck.title}}</label>
    </div>
    <div class="border form-group">
        <label>By Severity</label>
        <select [(ngModel)]="mainFalsehood.severity">
            <option value="OBJECTIVE">Objective Falsehood</option>
            <option value="OMISSION_BONE">Witholds Information (or sneaks it in)</option>
            <option value="SUBJECTIVE">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
            <option value="BLANK">(Blank)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="pageField4">Search Page</label>
        <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="pageField4" [(ngModel)]="usePage">
    </div>
    <div class="form-group">
        <label for="sizeField4">Search Size</label>
        <input type="number" [ngModelOptions]="{standalone: true}" class="form-control" id="sizeField4" [(ngModel)]="useSize">
    </div>
    <button class="btn btn-submit" (click)="searchByFalsehoodField()">Submit Search</button>
    <button class="btn btn-info" (click)="setSearchByTags()">Search By Tags</button>
</form>

<div *ngIf="falsehoodList?.length && isSearching">
    <button class="btn btn-info" (click)="returnToSearch()">Search Again</button>

    <table>
        <tr>
            <th>id</th>
            <th>Severity</th>
            <th>Date</th>
            <th>Figure</th>
            <th>Outlet</th>
            <th>Institution</th>
            <th>Region</th>
        </tr>

        <div class="border" *ngFor="let falsehoodEntry of falsehoodList">
            <tr>
                <td>{{falsehoodEntry.id}}</td>
                <td>{{falsehoodEntry.severity}}</td>
                <td>{{falsehoodEntry.dateMade}}</td>
                <td>{{falsehoodEntry.figure}}</td>
                <td>{{falsehoodEntry.outlet ? falsehoodEntry.outlet.name : 'N/A'}}</td>
                <td>{{falsehoodEntry.outlet ? falsehoodEntry.outlet.name : 'N/A'}}</td>
                <td>{{falsehoodEntry.outlet ? falsehoodEntry.outlet.name : 'N/A'}}</td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn btn-submit" (click)="retrieveFalsehood(falsehoodEntry.id)">Select</button></td>
                <td colspan="5"><label *ngIf="falsehoodEntry.factCheck">{{falsehoodEntry.factCheck.title}}</label></td>
            </tr>
        </div>
    </table>
</div>

<form *ngIf="!isSearching && mainFalsehood">
    <div class="border form-group">
        <label>Public Figure (Required)</label>
        <button *ngIf="isEditing" class="btn btn-info" (click)="setSearchByBrandType('PUBLIC_FIGURE', 'Public Figures')">Select Figure</button>
        <label *ngIf="mainFalsehood.figure">{{mainFalsehood.figure.name}}</label>
    </div>
    <div class="border form-group">
        <label>Media Outlet</label>
        <button *ngIf="isEditing" class="btn btn-info" (click)="setSearchByBrandType('MEDIA_OUTLET', 'Media Outlets')">Select Outlet</button>
        <label *ngIf="mainFalsehood.outlet">{{mainFalsehood.outlet.name}}</label>
    </div>
    <div class="border form-group">
        <label>Institution</label>
        <button  *ngIf="isEditing" class="btn btn-info" (click)="setSearchByBrandType('INSTITUTION', 'Institutions')">Select Institution</button>
        <label *ngIf="mainFalsehood.institution">{{mainFalsehood.institution.name}}</label>
    </div>
    <div class="border form-group">
        <label>Region</label>
        <button *ngIf="isEditing"  class="btn btn-info" (click)="setSearchByBrandType('REGION', 'Regions')">Select Region</button>
        <label *ngIf="mainFalsehood.region">{{mainFalsehood.region.name}}</label>
    </div>
    <div class="border form-group">
        <label>Factcheck</label>
        <button  *ngIf="isEditing" class="btn btn-info" (click)="setSearchByBrandType('FACT-CHECK', 'Fact Checks')">Select Factcheck</button>
        <label *ngIf="mainFalsehood.factCheck">{{mainFalsehood.factCheck.title}}</label>
    </div>
    <div class="border form-group">
        <label>Date (Required)</label>
        <input type="date" class="form-control" [(ngModel)]="mainFalsehood.dateMade"  [ngModelOptions]="{standalone: true}">
    </div>

    <div class="border form-group">
        <label>By Severity (Required)</label>
        <input type="text" readonly class="form-control" [(ngModel)]="mainFalsehood.severity" [ngModelOptions]="{standalone: true}">
        <select *ngIf="isEditing"  [(ngModel)]="mainFalsehood.severity" name="severityDrop">
            <option value="OBJECTIVE">Objective Falsehood</option>
            <option value="OMISSION_BONE">Witholds Information (or sneaks it in)</option>
            <option value="SUBJECTIVE">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
        </select>
    </div>

    <div class="border form-group" *ngIf="isEditing">
        <label>Update Comment</label>
        <input type="text" class="form-control" [(ngModel)]="metaDataUpdateComment">
    </div>

    <button *ngIf="isEditing && mainFalsehood.id" class="btn btn-submit" (click)="updateMetadata()">Update Falsehood</button>
    <button class="btn btn-info" (click)="returnToSearch()">Search Again</button>
</form>

<div *ngIf="mainFalsehood">
    <div *ngIf="isEditing">
        <label>Tags (use new line to separate tags)</label>
        <textarea [(ngModel)]="tags"></textarea>
        <hr>
        <!-- <markdown-toolbar for="falsehood_markdown_text">
            <md-bold>
                <button class="btn btn-md" >
                    <svg class="svg-md bi bi-type-bold" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
                    </svg>
                </button>
            </md-bold>
            <md-header>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-type-h3" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.637 13V3.669H6.379V7.62H1.758V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.625-4.272h1.018c1.142 0 1.935.67 1.949 1.674.013 1.005-.78 1.737-2.01 1.73-1.08-.007-1.853-.588-1.935-1.32H9.108c.069 1.327 1.224 2.386 3.083 2.386 1.935 0 3.343-1.155 3.309-2.789-.027-1.51-1.251-2.16-2.037-2.249v-.068c.704-.123 1.764-.91 1.723-2.229-.035-1.353-1.176-2.4-2.954-2.385-1.873.006-2.857 1.162-2.898 2.358h1.196c.062-.69.711-1.299 1.696-1.299.998 0 1.695.622 1.695 1.525.007.922-.718 1.592-1.695 1.592h-.964v1.074z" />
                    </svg>
                </button>
            </md-header>
            <md-italic>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-type-italic" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.991 11.674L9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
                    </svg>
                </button>
            </md-italic>
            <md-quote>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-blockquote-left" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    <path d="M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z" />
                    </svg>
                </button>
            </md-quote>
            <md-code>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-code-square" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd" d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z" />
                    </svg>
                </button>
            </md-code>
            <md-unordered-list>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-list-ul" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                </button>
            </md-unordered-list>
            <md-mention>
                <button class="btn btn-md"  align-items="center">@</button>
            </md-mention>
            <md-ref>
                <button class="btn btn-md">
                    <svg class="svg-md bi bi-tag" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z" />
                        <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                    </svg>
                </button>
            </md-ref>
        </markdown-toolbar> -->
        <textarea id="falsehood_markdown_text" class="form-control" [(ngModel)]="mainContents"></textarea>
    
        <button *ngIf="isEditing && mainFalsehood.id" class="btn btn-submit" (click)="updateContents()">Update Falsehood</button>
    </div>

    <div [innerHTML]="mainContents | markdown"></div>

    <button *ngIf="isEditing && !mainFalsehood.id && mainFalsehood.figure && mainFalsehood.dateMade && mainFalsehood.severity"
      class="btn btn-submit" (click)="submitNewFalsehood()">Submit New</button>

    <table *ngIf="records?.length">
        <tr>
            <th>User</th>
            <th>Event</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
        <tr *ngFor="let record of records">
            <td>{{record.userId}}</td>
            <td>{{record.keyword}}</td>
            <td>{{record.made}}</td>
            <td>{{record.comment}}</td>
        </tr>
    </table>

    <form *ngIf="brandType">

        <div class="border form-group">
            <label>Name for {{brandTypeHumanReadable}}</label>
            <input type="name" class="form-control" [(ngModel)]="brandField" name="brandField">
            <button class="btn btn-submit" (click)="searchBrandsByType()">Search Subject</button>
        </div>
    </form>

    <ul>
        <li *ngFor="let br of brandList">{{br.name}}
            <button class="btn btn-info" (click)="setBrand(br)">Select</button>
        </li>
    </ul>

    <ul>
        <li *ngFor="let fc of factList">{{fc.title}}
            <button class="btn btn-info" (click)="setFactCheck(fc)">Select</button>
        </li>
    </ul>

</div>