<h1>Create User</h1>

<div class="container">

    <button class="btn btn-submit" (click)="refreshUser()">Refresh User</button>

    <div *ngIf="userActive.value" class="form">

        <img width="100" height="100" src="{{userService.profilePic}}">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button class="btn btn-info" (click)="fileInput.click()">Update Profile Pic</button>
        <button class="btn btn-submit" (click)="updateProfilePic()" *ngIf="selectedFile && selectedFileType">Confirm Profile Selection</button><br><br>

        <h2>User Details</h2>

        <label>User ID: </label>
        <input type="text" [(ngModel)]="userService.currentUser.id" readonly><br>

        <label>Username: </label>
        <input type="text" [(ngModel)]="userService.currentUser.userProfile" readonly><br>

        <label>Mobile Phone: </label>
        <input type="tel" [(ngModel)]="userService.currentUser.mobilePhone" > <br>
        <button *ngIf="!userService?.currentUser?.phoneVerified" >Verify Phone</button>
        <br>

        <label>Email: </label>
        <input type="email" [(ngModel)]="userService.currentUser.email"> 
        <button *ngIf="!userService.currentUser.emailVerified" (click)="attemptEmailVerification()">Verify Email</button><br>
  

        <label>Birthday:</label>
        <input type="date" [(ngModel)]="userService.currentUser.birthday" readonly><br>

        <label>Birthday Privacy:</label>
        <select [(ngModel)]="currentBirthdayDetail">
            <option *ngFor="let birthOpt of birthdayDetails" (select)="birthOpt">{{birthOpt.setting}}</option>
        </select><br>

        <label>Account Restrictions: </label>
        <input type="text" [(ngModel)]="userService.currentUser.restrictions" readonly><br>

        <label>Credibility Rating: </label>
        <input type="number" [(ngModel)]="userService.currentUser.credibilityRating" readonly><br>

        <button class="btn btn-submit" (click)="updateUser()">Update Details</button>
        <button class="btn btn-submit">Go to Brand Menu</button><!--  -->
    </div>

    <button class="btn btn-submit" (click)="refreshSessions()">View Trec-Account Sessions</button>
    <div *ngIf="sessionList && currentSession">
        <table class="table table-hover">
            <tr>
                <th>Session Id</th>
                <th>Application</th>
                <th>Device Info</th>
                <th>Notes</th>
                <th>Delete?</th>
            </tr>
            <tr *ngFor="let session of sessionList.sessions">
                <td>{{session.sessionId}}</td>
                <td>{{session.appId}}</td>
                <td>{{session.deviceInfo}}</td>
                <td>{{session.sessionId == currentSession ? "Current Session" : ""}} {{session.expiration ? session.expiration : "No Expiration"}}</td>
                <td><button class="btn btn-warning" (click)="deleteSession(session.sessionId ? session.sessionId : '')">Delete Session</button></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-submit" (click)="setChangePassword(true)">Change Password Menu</button>

    <div *ngIf="changePassword" class="form">

        <label>Current Password: </label>
        <input type="password" [(ngModel)]="oldPassword"><br>

        <label>New Password: </label>
        <input type="password" [(ngModel)]="newPassword1"><br>

        <label>Re-enter New Password: </label>
        <input type="password" [(ngModel)]="newPassword2"><br>

        <button class="btn btn-submit" (click)="updatePassword()" >Update Password</button>
    </div>

</div>
