<h1>Create User</h1>

<div class="container">

    <button class="btn btn-submit" (click)="refreshUser()">Refresh User</button>

    <div *ngIf="userActive.value" class="form">

        <h2>User Details</h2>

        <label>User ID: </label>
        <input type="text" [(ngModel)]="userService.currentUser.id" readonly><br>

        <label>Username: </label>
        <input type="text" [(ngModel)]="userService.currentUser.userProfile" readonly><br>

        <label>Mobile Phone: </label>
        <input type="tel" [(ngModel)]="userService.currentUser.mobilePhone"> 
        <button ngIf*="!userService.currentUser.phoneVerified">Verify Phone</button>
        <br>

        <label>Email: </label>
        <input type="email" [(ngModel)]="userService.currentUser.email"> 
        <button ngIf*="!userService.currentUser.emailVerified">Verify Email</button><br>

        <label>Birthday:</label>
        <input type="date" [(ngModel)]="userService.currentUser.birthday" readonly><br>

        <label>Birthday Privacy:</label>
        <select [(ngModel)]="currentBirthdayDetail">
            <option *ngFor="let birthOpt of birthdayDetails" (select)="currentBirthdayDetail = birthOpt">{{birthOpt.setting}}</option>
        </select>

        <label>Account Restrictions: </label>
        <input type="text" [(ngModel)]="userService.currentUser.restrictions" readonly><br>

        <label>Username: </label>
        <input type="number" [(ngModel)]="userService.currentUser.credibilityRating" readonly><br>

        <button class="btn btn-submit" (click)="updateUser()">Update Details</button>
        <button class="btn btn-submit">Go to Brand Menu</button>
    </div>

    <button class="btn btn-submit" (click)="setChangePassword(true)">Change Password Menu</button>

    <div *ngIf="changePassword" class="form">

        <label>Current Password: </label>
        <input type="password" [(ngModel)]="oldPassword"><br>

        <label>New Password: </label>
        <input type="password" [(ngModel)]="newPassword1"><br>

        <label>Re-enter New Password: </label>
        <input type="password" [(ngModel)]="newPassword2"><br>

        <button class="btn btn-submit" (click)="updatePassword()" >Update Password</button>
    </div>

</div>
