<div *ngIf="actPost && !editComment" class="whole-comment d-bordered" style="width: 100%">

    <div style="display: flex; flex-direction: column; width: 100%;">
        <div class="comment-top">
            <div class="comment-profile-holder">
                <img (click)="navigateToProfile()" [src]="commenterImageLink" alt="Poster Photo">
            </div>

            <div class="commenter-details">
                <span (click)="navigateToProfile()" class="comment-profile-name">{{actPost.displayName}}</span>
                <span *ngIf="actPost.made">{{ actPost.made | date:'MMM d, y - h:mm:ss a' }}</span>
            </div>

            <div style="width: 30px; height: 30px; border: 1px black solid; background-color: rgba(240, 248, 255, 0.2);"
                 class="flex-and-center" (click)="prepContextMenu()">
                <p>...</p>
            </div>

            <app-context-menu style="position: absolute;right: 40px;" *ngIf="menuItems.length" [menuItems]="menuItems" (onSelected)="menuSelected($event)"></app-context-menu>

        </div>

        <hr class="comment-divider" [class.comment-divider-mobile]="displayService.isMobile">

        <div class="comment-content" [innerHTML]="actPost.contents.at(-1) | htmlRemover | tcFormatter ">

        </div>

        <hr class="comment-divider" [class.comment-divider-mobile]="displayService.isMobile">

        <div class="comment-reaction-bar">

            <app-reaction-button 
                [isSelected]="actPost.returnReaction?.type == 'Like'"
                [positiveReaction]="true"
                [reactionType]="'Like'"
                [divClass]="'comment-reaction-holder'"
                (onSelectedEmitter)="reactionOnSelect($event)"></app-reaction-button>

            <app-reaction-button 
                [isSelected]="actPost.returnReaction?.type == 'Dislike'"
                [positiveReaction]="false"
                [reactionType]="'Dislike'"
                [divClass]="'comment-reaction-holder'"
                (onSelectedEmitter)="reactionOnSelect($event)"></app-reaction-button>
            <!-- <div class="post-reaction-holder">
                <img src="assets/icons/Like-O.png" alt="Approve Button">
            </div>
            <div class="post-reaction-holder">
                <img src="assets/icons/Dislike-O.png" alt="Disapprove Button">
            </div> -->
        </div>

    </div>
    
    <hr [class.comment-divider-mobile]="displayService.isMobile">

    <app-comment style="width:100%" [editComment]="editReply"></app-comment>
    
    <hr [class.comment-divider-mobile]="displayService.isMobile">

    <div *ngFor="let cl of actPost.replies" style="width: 100%; margin-bottom: 15px;">
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%">
            <button *ngIf="cl.comments.length" class="btn btn-light" style="width:auto; margin: 5px;" (click)="toggleCommentList(cl)">{{cl.show ? 'Hide' : 'Show'}} Comments</button>
        
            <div *ngIf="cl.show && cl.comments.length" 
             style="display: flex; flex-direction: column; width:100%; background-color: rgba(0,255,255,0.2); border-radius: 3px; border: solid darkblue 1px">
                <div *ngFor="let comment of cl.comments" style="display: flex; flex-direction: row; justify-content: end;">

                    <app-comment 
                        style="width: 90%;"  
                        [actPost]="comment" 
                        (onCommentPersisted)="newCommentHandler($event)"
                        (onDeleted)="onCommentDeleted($event)"
                        [level]="level + 1"
                        [parent]="actPost.commentId.toString()"
                    ></app-comment>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-info" style="width: 95%" *ngIf="hasMoreReplies" (click)="seekMoreComments()">Additional Comments</button>

</div>


<div *ngIf="editComment" [class]="displayService.isMobile ? 'whole-comment-draft-mobile d-bordered-mobile' : 'whole-comment-draft d-bordered'">
    <div class="comment-profile-holder" style="margin: 10px;">
        <img [src]="currentProfImageLink" alt="Poster Photo">
    </div>

    <div class="comment-draft-body">
        <div class="comment-menu-options">

        </div>
        <textarea [(ngModel)]="editComment.comment"></textarea>
        <button class="btn btn-submit" style="margin-top: 10px;" (click)="uploadComment()">Submit Comment</button>
        <br>
        <button *ngIf="actPost" class="btn btn-danger" style="margin-top: 10px;" (click)="uploadComment()">Cancel</button>
    </div>

</div>