/* You can add global styles to this file, and also import other style files */

.flex-and-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-and-bottom {
    display: flex;
    justify-content: center;
    align-items:end;
}

.top-css {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    padding: 0 12px;
    font-weight: 600;
    cursor: pointer;
}

.d-bordered {
    border-style: double;
    border-color: darkblue;
    border-radius: 10px;
    padding: 15px;
}

.d-bordered-mobile {
    border-style: double;
    border-color: darkblue;
    border-radius: 10px;
}

/* Regular Red Button */

.red-button-container {
    width: 30px;
    height: 30px;
}

.red-button-container button img {
    width: 30px;
    height: 30px;
}

.red-button-container button {
    width:30px;
    height:30px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.red-button-container:hover {
    background-color: red;
}

/* Small red button */

.red-button-container-small {
    width: 20px;
    height: 20px;
}

.red-button-container-small button img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -5px;
    bottom: -5px;
    right: 0;
    left: 0;
}

.red-button-container-small button {
    width:20px;
    height:20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.red-button-container-small:hover {
    background-color: red;
}

/* Div container for input elements like checkboxes and radio-buttons */
.input-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    
    padding-left: 35px;
}

/* hide default control */
.input-container input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
}

/* set up alternative control */
.tc-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;         /* make it a circle */
}

/* when mouse is hovering over conteiner, darken the control */
.input-container:hover input ~ .tc-radio {
    background-color: #ccc;
}

/* When radio-button is clicked, add blue back ground */
.input-container input:checked ~ .tc-radio {
    background-color: aqua;
}

/* Use :after to add dot at the end, make it invisible by default */
.tc-radio::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the dot upon beling clicked */
.input-container input:checked ~ .tc-radio::after{
    display: block;
}

/* set the radio dot */
.input-container .tc-radio::after {
    top:9px;
    left:9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}


/* expend Icon Images */
img.expand_icon {
    border-radius: 50%;
    transform:rotate(180deg);
}

img.expand_i_small {
    width: 25px;
    height: 25px;
}

img.expand_i_reg {
    width: 30px;
    height: 30px;
}

/* Search Suggestions */

.option-holder {
    width: 100%;

    max-height: 320px;
    overflow-y: scroll;
}

.search-option {
    width: 100%;
    padding: 5px;
    background-color: aquamarine;
    border-color: beige;
    border-width: 2px;
    position: relative;
    display: flex;
    flex-wrap: row wrap;
}

.search-img-holder {
    width: 50px;
    height: 50px;
}

.search-img-holder img {
    width: 50px;
    height: 50px;
}

.search-name-holder {
    height: 100%;
    flex-grow: 1;
    padding-left: 5px
}

.search-name {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-option:hover {
    background-color: aliceblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* to have h1 behave like h3 when in mobile */
.h1-to-h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Allow Text in Buttons to word wrap*/
button {
    white-space: normal;
}


.core-option-holder {
    width: 100%;
    border: 2px solid black;
    background-color: aliceblue;

    display: flex;
    flex-flow: row wrap;
}

.core-option-holder:hover {
    background-color: antiquewhite;
}


.home-profile-pic-buffer {
    height: 45px;
}

.home-profile-name-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 5px;
}

.home-profile-name-holder > p {
    color: aliceblue;
    font-size: 32px;
}

.home-profile-area {
    position: relative;
    background-color: darkblue;
    overflow: visible;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.home-profile-top {
    height: 80px;
    overflow-y: visible;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #111;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home-profile-pic-holder {
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: -40px;
    overflow: hidden;
}

.home-profile-pic-holder > img {
    width: 80px;
    height: 80px;
}

.not-counter-holder {
    min-width: 50%;
    border-radius: 50%;
    
    background-color: red;
    padding-right: 1px;
}

.not-counter-holder p {
    font-size: 12px;
    color: white;
    margin: 0;
}