<app-top-bar *ngIf="!displayService.isMobile"></app-top-bar>
<div style="height: 42px" *ngIf="displayService.isMobile">
    <app-mobile-bar></app-mobile-bar>
</div>


<div class="home-base">

    <div style="width: 10%" *ngIf="!displayService.isMobile"></div>

    <div class="home-right-container" *ngIf="!displayService.isMobile">

        <div class="home-profile-area">
            <div class="home-profile-top">
                <div class="home-profile-pic-holder">
                    <img [src]="profileImage">
                </div>
            </div>

            <div class="home-profile-pic-buffer"></div>

            <div class="home-profile-name-holder">
                <p>{{ homeDisplayName }}</p>
            </div>

        </div>

    </div>

    <div style="width: 5%"></div>

    <div class="home-middle-container">
        <app-post-edit [profilePic]="profileImage"></app-post-edit>
        <hr>

        <div *ngFor="let event of homePageContent">
            <app-post-holder [event]="event"></app-post-holder>
        </div>

    </div>

    <div style="width: 5%"></div>

    <div class="home-left-container d-bordered" *ngIf="!displayService.isMobile">
        <div style="width:100%; height: 10px; background-color: red;"></div>
        <app-connection-list #homeConnections [mode]="'CONFIRMED'" [profileId]="currentProfile" [userDisplayName]="'Connections'"></app-connection-list>
    </div>
</div>
<div style="height: 42px" *ngIf="displayService.isMobile"></div>