<app-top-bar></app-top-bar>

<div class="home-base">

    <div class="home-right-container">

        <div class="home-profile-area">
            <div class="home-profile-top">
                <div class="home-profile-pic-holder">
                    <img src="assets/scaffolds/Profile_JLJ.png">
                </div>
            </div>

            <div class="home-profile-pic-buffer"></div>

            <div class="home-profile-name-holder">
                <p>John Jacko</p>
            </div>

        </div>

    </div>

    <div class="home-middle-container">
        <app-post-edit [profilePic]="'assets/scaffolds/Profile_JLJ.png'"></app-post-edit>
    </div>

    <div class="home-left-container d-bordered">
        <div style="width:100%; height: 10px; background-color: red;"></div>
    </div>
</div>