
.home-base {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 3px;
    margin-top: 5px;
}

/* Right Section */

.home-right-container {
    flex-grow: 2;
    min-width: 320px;
}

/* Middle Section */

.home-middle-container {
    flex-grow: 3;
    min-width: 320px;
    height: 95%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* Left Section */

.home-left-container {
    flex-grow: 2;
    min-width: 320px;
    height: min-content;
}