<form>
    <label>Login to TrecApps.com :</label><br>
    <label>Through on-Microsoft</label>
    <button (click)="useOnMicrosoft()">@TrecApps.com through Microsoft</button>
    <hr><hr>

    <label>Username</label>
    <input type="text" placeholder="username@trecapps.com" [(ngModel)]="username"/>
    <hr>
    <label>Password</label>
    <input type="password" [(ngModel)]="password"><hr>
    <button (click)="loginManually()">Login</button>
    <button (click)="createAccount()">Create Trec-Account</button>
</form>
