<h2>Public Figure</h2>

<div>
    <label>Search Public Figure</label>
    <input class="form-control" type="search" (change)="onSearchUpdate($event)" [(ngModel)]="searchText" placeholder="Search Public Figure">
  
    <ul *ngFor="let region of figureList">
      <li (click)="getFigure(region.id)">Region: {{region.name}}</li>
    </ul>
  </div>
  
  <div *ngIf="mainFigure">
    <h3>Title: {{mainFigure.figure.firstname}} {{mainFigure.figure.middleNames}} {{mainFigure.figure.lastName}}</h3>
  
    <button class="btn bg-info" (click)="setMode(1)">Wiki</button>
    <button class="btn bg-info" (click)="setMode(2)">Public Falsehoods</button>
    <br>
    <!--Give those with a high credibility rating a chance to approve or reject an unconfirmed falsehood-->
  
    <div class="container">
      <div *ngIf="mode==1" [innerHTML]="mainFigure.text | marked">
  
      </div>

      <div *ngIf="mode==2">
        <table *ngIf="searchFalsehoods.length > 0">
            <tr>
                <th>Status</th>
                <th>Severity</th>
                <th>Figure Type</th>
                <th>Public Figure</th>
                <th>Institution</th>
                <th>Region</th>
                <th>Date Made</th>
        
            </tr>
            <tr *ngFor="let falsehood of searchFalsehoods" (click)="selectFalsehood(falsehood)">
                <td>{{falsehood.status}}</td>
                <td>{{falsehood.severity}}</td>
                <td>{{falsehood.officialType}}</td>
                <td>{{falsehood.official?.firstname}} {{falsehood.official?.middleNames}} {{falsehood.official?.lastName}}</td>
                <td>{{falsehood.institution?.name}}</td>
                <td>{{falsehood.region?.name}}</td>
                <td>{{falsehood.dateMade}}</td>
            </tr>
        </table>
      </div>

      <div *ngIf="mode==3">
        <table *ngIf="searchMediaFalsehoods.length > 0">
            <tr>
                <th>Media Outlet</th>
                <th>Status</th>
                <th>MediaType</th>
                <th>Severity</th>
                <th>Public Figures</th>
                <th>Date Made</th>
                <th>Content Id</th>
            </tr>
            <tr *ngFor="let falsehood of searchMediaFalsehoods" (click)="selectMediaFalsehood(falsehood)">
                <td>{{falsehood.outlet?.name}}</td>
                <td>{{falsehood.status}}</td>
                <td>{{falsehood.mediaType}}</td>
                <td>{{falsehood.severity}}</td>
                <td>{{falsehood.author1?.firstname}} {{falsehood.author1?.middleNames}} {{falsehood.author1?.lastName}}</td>
                <td>{{falsehood.dateMade}}</td>
                <td>{{falsehood.contentId}}</td>
            </tr>
        </table>
      </div>

      <div *ngIf="mode==4">

      </div>
      
      <!--app-public-falsehood-search></app-public-falsehood-search-->
     
    </div>
  </div>